.home {
  div#page-container[style] {
    padding-top: 80px !important;
  }

  header {
    height: 65px;

    #logo {
      position: relative;
      max-height: 55px;
    }

    &.et-fixed-header #logo {
      top: -5px;
      max-height: 45px;
    }
  }
}

// niomedia home page
.text-align-left, .text-align-right {
  @media screen and (min-width: 981px) {
    display: block;
    position: absolute;
    width: 45%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

.text-align-right,
.image-align-right {
  @media screen and (min-width: 981px) {
    float: right;
  }
}

.text-align-left,
.image-align-left {
  @media screen and (min-width: 981px) {
    float: left;
  }
}

.market-section {
  padding: 0;
  margin-top: -20px;
  img {
    @media screen and (max-width: 980px) {
      margin-top: -30px;
    }
  }

  @media screen and (max-width: 980px) {
    margin-top: -30px;
  }
}

.contact-section {
  padding: 10px 0;

  @media screen and (max-width: 980px) {
    margin-top: -20px;
  }
}

hr.section-divider {
  @media screen and (max-width: 980px) {
    display: block !important;
  }
}

img.powered-by-img  {
  @media screen and (max-width: 980px) {
    padding: 0;
    margin: 0;
    margin-top: -40px;
  }
}
