// Variables
$favorite-color     : #F7931D;
$twitter-color      : #00B6F1;
$facebook-color     : #3B5999;
$google-plus-color  : #DF4A32;
$instagram-color    : #246B91;
$email-color        : #64479D;

$body-black         : #666666;


// Brand Colors
$now-red: #D01E21;

// Particulars